*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body{
    background-color: #d7e4e1;
}

/** --------------------------------Navbar Styling ---------------------------------**/

.navbar{
     height: 70px;
     background: #0f1111;
     color:white; 
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}

/* Box -1 [Logo]  */ 

.nav-logo{
    height: 60px;
    width: 100px;
}

.logo{
    background-image: url("Resources/amazon_logo.png");
    height: 60px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: solid 1.5px;
}

/* Box-2 [Address] */

.nav-address{
    margin-left: 20px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.add-first{
    font-size: 0.8rem;
    margin-left: 17px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 4.5px;
    font-weight: bold;
}

.address{
    display: flex;
    align-items: center;
}

/* Box-3 [Search] */

.nav-search{
    display: flex;
    width: 800px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
}

.nav-search:hover{
    border: 2.5px solid #cf8a09;
}

.search-select{
    background: #e2e2e2;
    width: 50px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    
}

.search-icon{
    width: 55px;
    height: 100%;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0ba0b;
    color:black ;
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Box-4 & Box-5 [Sign-In & Return] */

.nav-signin , .nav-return{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    cursor: pointer;
}

.line-1{
    font-size: 0.8rem;
}

.line-2{
    font-size: 1rem;
    font-weight: bold;
}

/* Box-6 [Cart] */

.nav-cart{
    display: flex;
    height: 60px;
    align-items: center;
    cursor: pointer;
}

.nav-cart i{
    font-size: 1.7rem;
}

.nav-cart p{
    margin-left: 5px;
    font-size: .85rem;
    font-weight: bold;
    margin-top: 10px;
}

/* ------------------------- Panel ---------------------------------------------- */

.panel{
    height: 45px;
    background: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.panel-opts p{
    display: inline;
    margin-right: 15px;
}

.panel-opts{
    width: 70%;
    font-size: .9rem;
}

.panel-deals{
    height: 80%;
    display: flex;
    align-items: center;
}

/* ------------------------- Hero Sections---------------------------------------------- */

.hero{
    background-image: url("Resources/hero_image.jpg");
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 35px;
    width: 95.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* ---------------------------------------Shop Section ------------------------------------ */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d7e4e1;
}

.box{
    height:400px;
    width: 22%;
    background-color: #fff;
    padding: 20px 0 15px 0;
    margin-top: 15px;
    cursor: pointer;
} 

.box-image{
    height: 320px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    
} 

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color:#007185 ;
    margin-top: 7%;
}

/* ---------------------------------------Footer----------------------------------------- */

footer{
    margin-top: 20px;
}

.foot-panel-1{
    background-color: #37475a ;     
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}